/** Общие стили **/
@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway-regular-webfont.woff2") format("woff2"), url("../fonts/raleway-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway-light-webfont.woff2") format("woff2"), url("../fonts/raleway-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway-bold-webfont.woff2") format("woff2"), url("../fonts/raleway-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'), url('../fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-bold-webfont.woff2') format('woff2'), url('../fonts/roboto-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
body {
  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 27px;
  color: #000;
  background: #ffffff;
}
.container {
  margin: 0 4.5%;
}
img {
  max-width: 100%;
  height: auto;
}
.btn {
  display: inline-block;
  vertical-align: middle;
  margin-right: 32px;
  padding: 10px 32px;
  height: 40px;
  min-width: 170px;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #202020;
  box-sizing: border-box;
  background: #FFFFFF;
  border-radius: 90px;
}
.btn:hover {
  color: #fff;
  background: #FF4500;
  opacity: 1;
}
.btn:active {
  color: #fff;
  background: #FF4500;
  opacity: 0.7;
}
.btn-orange {
  color: #fff;
  background: #FF4500;
}
.btn-orange:hover {
  color: #202020;
  background: #ff6a33;
  opacity: 1;
}
.btn-orange:active {
  color: #202020;
  background: #ff8f66;
}
.btn-more {
  color: #FF4500;
  background: none;
  border: 2px solid #FF4500;
  border-radius: 0;
}
.main-header {
  height: 80px;
  color: #fff;
  background: #202020;
}
.main-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.main-nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav ul li {
  margin-right: 55px;
}
.main-nav li a {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}
.main-nav li a:hover {
  cursor: pointer;
  color: #FF4500;
}
.main-nav li a:active {
  cursor: pointer;
  color: #FF4500;
  opacity: 0.7;
}
.first {
  position: relative;
  margin-bottom: 63px;
  padding-bottom: 191px;
  color: #fff;
  background: url("../img/header-background.jpg") center no-repeat;
  background-size: cover;
}
.first p {
  margin-bottom: 53px;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
}
.first::after {
  content: '';
  position: absolute;
  bottom: -103px;
  width: 100%;
  height: 162px;
  background: url("../img/header-bottom.png") center no-repeat;
  background-size: 100%;
}
h1.main-title {
  margin: 0;
  padding-top: 92px;
  padding-bottom: 15px;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  color: #FF4500;
}
.white-text {
  color: #fff;
}
.title {
  position: relative;
  z-index: 2;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
  text-transform: uppercase;
  text-align: center;
  color: #202002;
}
.text {
  font-family: 'Raleway', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #202020;
}
.text-name {
  font-weight: bold;
  font-size: 19px;
}
.text-bold {
  font-weight: bold;
}
.about-desc {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-left: 50px;
}
.about-desc::before {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  display: block;
  width: 778px;
  height: 100%;
  background: linear-gradient(273.2deg, rgba(206, 203, 203, 0.12) 0.85%, rgba(255, 255, 255, 0) 34.02%);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.about-desc::after {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  display: block;
  width: 5px;
  height: 100%;
  background: #FF4500;
}
.about-desc .text {
  position: relative;
  z-index: 2;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 20px;
  text-indent: 25px;
}
.cases {
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 80px;
  background: url("../img/wave-1.png") top center no-repeat;
  background-size: auto;
}
.cases::before {
  position: absolute;
  top: 0;
  content: '';
  display: block;
  height: 162px;
  width: 100%;
  background: linear-gradient(180deg, #DEDEDE -219.74%, rgba(196, 196, 196, 0) 100%);
}
.cases .cases-subtitle {
  margin-bottom: 85px;
  font-size: 20px;
  line-height: 23px;
  color: #202020;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}
.case {
  position: relative;
  margin-bottom: 110px;
  padding-bottom: 95px;
}
.case .container {
  display: flex;
}
.case::after {
  position: absolute;
  bottom: 0;
  content: '';
  display: block;
  width: 100%;
  height: 71px;
  background: url("../img/cases-bottom.png") center no-repeat;
  background-size: 100%;
}
.case-desc {
  width: 39%;
}
.case-desc h3 {
  position: relative;
  width: 85%;
  margin: 0;
  margin-bottom: 35px;
  font-family: Raleway;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
  color: #202003;
}
.case-desc h3::after {
  position: absolute;
  bottom: -10px;
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: #001569;
}
.case-desc .text {
  margin: 0;
  margin-bottom: 20px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
.case-advantages {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-grow: 1;
}
.case-advantages .advantage {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 330px;
  height: 104px;
  margin-left: 7%;
  padding-left: 104px;
  padding-right: 7px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0) 0%, #F7F5F5 100%);
  border-radius: 10px;
  box-sizing: border-box;
}
.case-advantages .advantage p {
  position: relative;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
}
.case-advantages .advantage::before {
  position: absolute;
  top: 28px;
  left: 28px;
  content: '';
  display: block;
  width: 49px;
  height: 49px;
  background: url("../img/vector.png") center no-repeat;
}
.case:nth-child(even) .case-advantages .advantage {
  margin-left: 0;
  margin-right: 7%;
}
.case:nth-child(even)::after {
  transform: scale(-1, 1);
}
.no-after {
  margin-bottom: 60px;
  padding-bottom: 0;
}
.no-after::after {
  display: none;
}
.more {
  text-align: center;
}
.spoiler-content {
  padding-top: 20px;
}
.contacts {
  padding-top: 55px;
  background: #F8F8F8;
}
.contacts .container {
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
  padding-bottom: 70px;
}
.contacts-text {
  margin-right: 100px;
  max-width: 602px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
.contacts-text .detailed {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
}
.contacts-text .time {
  margin: 0;
  margin-bottom: 55px;
  font-size: 20px;
  line-height: 30px;
}
.contacts-text .phone {
  margin: 0;
  margin-bottom: 50px;
  font-size: 30px;
  line-height: 45px;
}
.contacts-text .address {
  font-size: 20px;
  line-height: 30px;
  color: #9D9D9D;
}
.contacts-form {
  display: flex;
  flex-direction: column;
  width: 430px;
}
.contacts-form input,
.contacts-form textarea {
  margin-bottom: 40px;
  padding-left: 20px;
  height: 55px;
  font-size: 16px;
  line-height: 19px;
  color: #ACACAC;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  border: none;
  font-style: italic;
}
.contacts-form button.btn {
  width: 179px;
  margin: 0 auto;
  border: none;
}
.contacts-form button.btn:active,
.contacts-form button.btn:focus {
  outline: none;
}
.main-footer {
  position: relative;
  color: #fff;
  background: linear-gradient(180deg, rgba(52, 52, 52, 0.49) 0%, rgba(68, 67, 67, 0.7) 100%), url("../img/footer-background.jpg") center no-repeat;
  background-size: cover;
}
.main-footer::after {
  content: '';
  display: block;
  width: 100%;
  height: 50px;
  background: #202020;
}
.main-footer .container {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 30px;
}
.footer-content {
  max-width: 690px;
}
.footer-content .copy {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
}
.footer-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer-nav ul li {
  margin-bottom: 20px;
}
.footer-nav ul li a {
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
@media screen and (min-width: 1000px) and (max-width: 1315px) {
  .case-desc {
    width: 41%;
  }
  .case-desc h3 {
    font-size: 36px;
  }
  .case-advantages .advantage {
    width: 230px;
    padding-left: 70px;
    margin-left: 5%;
  }
  .case-advantages .advantage::before {
    left: 15px;
  }
  .case:nth-child(even) .case-advantages .advantage {
    margin-left: 0;
    margin-right: 5%;
  }
}
@media screen and (max-width: 1000px) {
  .container {
    margin: 0 3%;
  }
  .about-desc::before {
    width: 100%;
  }
  .case .container {
    flex-direction: column;
    align-items: center;
  }
  .case-desc h3 {
    width: 100%;
  }
  .case-desc {
    margin-bottom: 40px;
    width: 100%;
    text-align: center;
  }
  .case-advantages {
    justify-content: center;
  }
  .case-advantages .advantage {
    width: 300px;
    padding-left: 75px;
    margin-left: 5%;
    margin-bottom: 30px;
  }
  .case-advantages .advantage::before {
    left: 15px;
  }
  .case:nth-child(even) .case-advantages .advantage {
    margin-left: 5%;
    margin-right: 0;
  }
  .case:nth-child(even) .case-desc {
    order: 1;
  }
  .case:nth-child(even) .case-advantages {
    order: 2;
  }
  .footer-content {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .main-header {
    padding-top: 20px;
    padding-bottom: 20px;
    height: auto;
  }
  .logo {
    margin-bottom: 25px;
  }
  .main-header .container {
    flex-direction: column;
    align-items: center;
  }
  .main-nav ul {
    flex-direction: column;
    align-items: center;
  }
  .main-nav ul li {
    margin-right: 0;
    margin-bottom: 10px;
  }
  h1.main-title {
    padding: 0;
    text-align: center;
    font-size: 30px;
    line-height: 1.1;
  }
  .first {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
  }
  .first::after {
    display: none;
  }
  .btn {
    margin: 0;
    margin-bottom: 20px;
  }
  .title {
    font-size: 28px;
    line-height: 1.1;
  }
  .about-desc {
    padding-left: 15px;
    text-align: center;
  }
  .text {
    font-size: 16px;
    line-height: 1.4;
  }
  .cases {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 40px;
  }
  .cases .cases-subtitle {
    margin-bottom: 45px;
    padding: 0 5px;
    font-size: 18px;
    line-height: 1.2;
  }
  .case {
    padding-bottom: 0;
    margin-bottom: 40px;
  }
  .case::after {
    display: none;
  }
  .case-desc h3 {
    font-size: 24px;
    line-height: 1.2;
  }
  .case-advantages .advantage {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }
  .contacts {
    padding-top: 25px;
  }
  .contacts .container {
    flex-direction: column;
  }
  .contacts-text {
    margin: 0;
    text-align: center;
  }
  .contacts-text .time,
  .contacts-text .phone {
    margin-bottom: 20px;
  }
  .contacts-form {
    width: 100%;
  }
  .main-footer .container {
    flex-direction: column;
  }
  .footer-content {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
  .footer-nav ul {
    text-align: center;
  }
}
